<p id="notice"><%= notice %></p>
<h2><%= link_to "Books", books_path, class: "#{type=='books'? 'active' : ''}" %></h2><h2><h2><%= link_to "Videos", videos_path, class: "#{type=='videos'? 'active' : ''}" %></h2></h2>
  <%= form_tag eval("#{type}_path"), :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
      <%= if params[:search] && !params[:search].empty? then link_to "Clear", request.query_parameters.merge(search: "") end %>
    </p>
  <% end %>
