<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Current Reader:</strong>
   <%= if @book.user then @book.user.name else link_to "Check out", book_path(@book, book: {user_id: current_user.id}), method: :put end %>
   <%= if @book.user == current_user then link_to "Return", book_path(@book, book: {user_id: nil}), method: :put end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<%= render 'reviews/index', reviewable: @book, reviewable_type: 'book' %>